<div class="ui two column centered grid" [ngClass]="{ stackable: mobileView }">
  <div class="four column centered row">
    <div class="column" [ngClass]="!mobileView?'right aligned':'aligned'">
      <img
        class="ui middle aligned left medium circular image"
        src="../../../assets/123.jpeg"
      />
    </div>
    <div class="left aligned column">
      <div [ngClass]="{ topmargin: !mobileView }">
        <div class="ui inverted segment">
          <!-- <div><h1>Aayush yadav</h1></div> -->
          <div class="ui icon header">
            <h1 class="inverted">Aayush Yadav</h1>
            <p class="inverted">Software Engineer</p>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
