<div class="ui two column centered grid" [ngClass]="{ stackable: mobileView }">
  <div class="four column centered row">
    <div class="column" [ngClass]="!mobileView?'right aligned':'aligned'">
      <img
        class="ui middle aligned left medium circular image"
        src="http://192.168.43.235:3000/profilePic/profile.png"
      />
    </div>
    <div class="left aligned column">
      <div [ngClass]="{ topmargin: !mobileView }">
        <div class="ui inverted segment">
     
          <div class="ui icon header">
            <h1 class="inverted">Aayush Yadav</h1>
            <p class="inverted">Software Engineer</p>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="ui segment">
  <div class="ui items">
    <div class="item">
      <div class="image">
        <img src="http://192.168.43.235:3000/profilePic/profile.png">
      </div>
      <div class="content">
        <a class="header">Header</a>
        <div class="meta">
          <span>Description</span>
        </div>
        <div class="description">
          <p></p>
        </div>
        <div class="extra">
          Additional Details
        </div>
      </div>
    </div>
    <div class="item">
      <div class="image">
        <img src="http://192.168.43.235:3000/profilePic/profile.png">
      </div>
      <div class="content">
        <a class="header">Header</a>
        <div class="meta">
          <span>Description</span>
        </div>
        <div class="description">
          <p></p>
        </div>
        <div class="extra">
          Additional Details
        </div>
      </div>
    </div>
  </div>
</div> -->
