<h1 style="color: aliceblue;">Home</h1>
<hr />
<h3 style="font-style: oblique; font-size: 25px;">
  &nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <span style="font-size: 65px; color: orange;">Hello guys,</span> This is
  Aayush yadav and Welcome to my Potfolio Website.This Website is part of my
  <span style="color: orange;">Angular Project</span> in which i have designed
  both client-side and Server-side Functionality. As this is a potfolio website
  i would be mentioning all my Skillsets, Projects and Certifications till date.
  I have also added <span style="color: orange;">Blogging feature</span> so that
  i can update about what i am upto.There is section called
  <span style="color: orange;">TechNews</span> on this website , in which latest
  news is scrapped from News Websites and displaced in that section. And lastly,
  there is always a scope of improvement for this particular website, I would be
  more that happy if Visitors provide feedbacks in the
  <span style="color: orange;">Feedback section </span>of this Website.Hope you
  like the website :)
</h3>
<br />

<div class="ui stackable grid">
  <div class="eight wide column">
    <h3 style="text-decoration: underline;">
      Programming Languages that I worked on :
    </h3>

    <div class="ui items">
      <div class="item">
        <div class="ui tiny image">
          <img src="../../../assets/icons/icons8-python-480.png" />
        </div>
        <div class="middle aligned content">
          <div class="header" style="color: aliceblue;">
            Python
          </div>
        </div>
      </div>

      <div class="item">
        <div class="ui tiny image">
          <img src="../../../assets/icons/icons8-javascript-480.png" />
        </div>
        <div class="middle aligned content">
          <div class="header" style="color: aliceblue;">
            JavaScript
          </div>
        </div>
      </div>
      <div class="item">
        <div class="ui tiny image">
          <img src="../../../assets/icons/icons8-java-480.png" />
        </div>
        <div class="middle aligned content">
          <div class="header" style="color: aliceblue;">
            Java
          </div>
        </div>
      </div>
      <div class="item">
        <div class="ui tiny image">
          <img src="../../../assets/icons/icons8-c++-480.png" />
        </div>
        <div class="middle aligned content">
          <div class="header" style="color: aliceblue;">
            C++
          </div>
        </div>
      </div>
      <div class="item">
        <div class="ui tiny image">
          <img src="../../../assets/icons/icons8-typescript-480.png" />
        </div>
        <div class="middle aligned content">
          <div class="header" style="color: aliceblue;">
            TypeScript
          </div>
        </div>
      </div>
      <div class="item">
        <div class="ui tiny image">
          <img src="../../../assets/icons/icons8-php-96.png" />
        </div>
        <div class="middle aligned content">
          <div class="header" style="color: aliceblue;">
            PHP
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="eight wide column">
    <h3 style="text-decoration: underline;">
      Framework on which i have worked on:
    </h3>

    <div class="ui items">
      <div class="item">
        <div class="ui tiny image">
          <img src="../../../assets/icons/icons8-angularjs-480.png" />
        </div>
        <div class="middle aligned content">
          <div class="header" style="color: aliceblue;">
            Angular
          </div>
        </div>
      </div>

      <div class="item">
        <div class="ui tiny image">
          <img src="../../../assets/icons/icons8-nodejs-480.png" />
        </div>
        <div class="middle aligned content">
          <div class="header" style="color: aliceblue;">
            NodeJs
          </div>
        </div>
      </div>
      <div class="item">
        <div class="ui tiny image">
          <img src="../../../assets/icons/icons8-django-480.png" />
        </div>
        <div class="middle aligned content">
          <div class="header" style="color: aliceblue;">
            Django
          </div>
        </div>
      </div>
      <div class="item">
        <div class="ui tiny image">
          <img src="../../../assets/icons/flask-removebg-preview.png" />
        </div>
        <div class="middle aligned content">
          <div class="header" style="color: aliceblue;">
            Flask
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui stackable grid">
    <div class="eight wide column">
      <h3 style="text-decoration: underline;">
        Database that I worked on :
      </h3>
  
      <div class="ui items">
        <div class="item">
          <div class="ui tiny image">
            <img src="../../../assets/icons/icons8-mongodb-480.png" />
          </div>
          <div class="middle aligned content">
            <div class="header" style="color: aliceblue;">
             MongoDB
            </div>
          </div>
        </div>
  
        <div class="item">
          <div class="ui tiny image">
            <img src="../../../assets/icons/mysql_PNG1.png">
          </div>
          <div class="middle aligned content">
            <div class="header" style="color: aliceblue;">
              MySQL
            </div>
          </div>
        </div>
        <div class="item">
          <div class="ui tiny image">
            <img src="../../../assets/icons/icons8-firebase-480.png" />
          </div>
          <div class="middle aligned content">
            <div class="header" style="color: aliceblue;">
              FireBase
            </div>
          </div>
        </div>
        <div class="item">
          <div class="ui tiny image">
            <img src="../../../assets/icons/icons8-postgresql-480.png" />
          </div>
          <div class="middle aligned content">
            <div class="header" style="color: aliceblue;">
              PostgreSQL
            </div>
          </div>
        </div>
        
      </div>
    </div>
    <div class="eight wide column">
      <h3 style="text-decoration: underline;">
        Software on which i have worked on:
      </h3>
  
      <div class="ui items">
        <div class="item">
          <div class="ui tiny image">
            <img src="../../../assets/icons/androidStudio.png" />
          </div>
          <div class="middle aligned content">
            <div class="header" style="color: aliceblue;">
              Android Studio
            </div>
          </div>
        </div>
  
        <div class="item">
          <div class="ui tiny image">
            <img src="../../../assets/icons/creo.png" />
          </div>
          <div class="middle aligned content">
            <div class="header" style="color: aliceblue;">
              Creo
            </div>
          </div>
        </div>
        <div class="item">
          <div class="ui tiny image">
            <img src="../../../assets/icons/icons8-vegas-480.png" />
          </div>
          <div class="middle aligned content">
            <div class="header" style="color: aliceblue;">
              Vegas
            </div>
          </div>
        </div>
        <div class="item">
          <div class="ui tiny image">
            <img src="../../../assets/icons/icons8-adobe-after-effects-480.png" />
          </div>
          <div class="middle aligned content">
            <div class="header" style="color: aliceblue;">
              After Effects
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>