<div class="ui segment">
  <div class="ui accordion">
    <app-accordian [heading]="'Update Profile'">
      <app-chgprofile></app-chgprofile>
    </app-accordian>
    <app-accordian [heading]="'Add Blog'">
      <app-addblog></app-addblog>
    </app-accordian>
    <app-accordian [heading]="'Delete Blog'">
      <app-delblog></app-delblog>
    </app-accordian>
    <app-accordian [heading]="'Add Certificate'">
      <app-addcerti></app-addcerti>
    </app-accordian>
    <app-accordian [heading]="'Delete Certificate'">
      <app-delcerti></app-delcerti>
    </app-accordian>
    <app-accordian [heading]="'Add Project'">
      <app-addproj></app-addproj>
    </app-accordian>
    <app-accordian [heading]="'Delete Project'">
      <app-delcerti></app-delcerti>
    </app-accordian>
    <app-accordian [heading]="'View feedbacks'">
      <app-view-feedback></app-view-feedback>
    </app-accordian>
    

  </div>
</div>
