<div class="ui segment">
  <div class="ui accordion">
    <app-accordian [heading]="'Update Profile'">
      <app-chgprofile></app-chgprofile>
    </app-accordian>
    <app-accordian [heading]="'Add or Delete Blog'">
      <app-tabchildnav>
        <a routerLink="./addblog" routerLinkActive="active" class="item">
          Add Blog
        </a>
        <a routerLink="./delblog" routerLinkActive="active" class="item">
          Delete Blog
        </a>
      </app-tabchildnav>
    </app-accordian>
    <app-accordian [heading]="'Add or Delete Certificate'">
      <app-tabchildnav>
        <a routerLink="./addcerti" routerLinkActive="active" class="item">
          Add Certificate
        </a>
        <a routerLink="./delcerti" routerLinkActive="active" class="item">
          Delete Certificate
        </a>
      </app-tabchildnav>
    </app-accordian>
  </div>
</div>
