<ng-container>
  <div  class="ui compact inverted fixed menu" *ngIf="mobileView">
    <!-- <div class="ui simple inverted dropdown item">
      <i class="align justify icon"></i>
      <b style="padding-left: 7px;">{{ admin }}</b>
      <i class="dropdown icon"></i>
      <div class="menu">
        <a
          routerLink="./"
          [routerLinkActiveOptions]="{ exact: true }"
          (click)="onselect()"
          class="item"
          routerLinkActive="active"
          >Home</a
        >
        <a
          routerLink="/projects"
          (click)="onselect()"
          class="item"
          routerLinkActive="active"
          >Projects</a
        >
        <a
          routerLink="/certificate"
          (click)="onselect()"
          class="item"
          routerLinkActive="active"
          >Certifications</a
        >
        <a
          routerLink="/technews"
          (click)="onselect()"
          class="item"
          routerLinkActive="active"
          >TechNews</a
        >
       
        <a
          routerLink="/blogs"
          (click)="onselect()"
          class="item"
          routerLinkActive="active"
          >Blogs</a
        >
        <a
        routerLink="/feedback"
        (click)="onselect()"
        class="item"
        routerLinkActive="active"
        >FeedBacks</a
      >
        <a
          *ngIf="loggedin$ | async"
          class="item"
          routerLink="/admin"
          (click)="onAdmin()"
          routerLinkActive="active"
        >
          <div class="ui primary button">Admin Panel</div></a
        >
        <a
          *ngIf="loggedin$ |async"
          class="item"
          (click)="logout()"
          routerLink="/logout"
          routerLinkActive="active"
        >
          <div class="ui primary button">Log out</div></a
        >
        <a
          *ngIf="!(loggedin$ |async)"
          routerLink="/login"
          class="item"
          

          (click)="onAdmin()"
          routerLinkActive="active"
        >
          <div class="ui primary button">Admin Login</div></a
        >
      </div>
    </div> -->
    <div (click)="navbarOpen()" class="ui simple inverted dropdown item xx">
      <i class="align justify icon"></i>
      <b style="padding-left: 7px;">{{ selected }}</b>
    </div>
    <div
      class="ui simple sidebar inverted vertical menu left"
      [ngClass]="{ uncover: sidebarOpen, visible: sidebarOpen }"
    >
      <div class="item">
        <i (click)="navbarOpen()" class="window close large outline icon"></i>

        <h1 class="white">Welcome</h1>
      </div>
      <a
        routerLink="./"
        [routerLinkActiveOptions]="{ exact: true }"
        (click)="onselect('Home')"
        class="item"
        routerLinkActive="active"
        >Home</a
      >
      <a
        routerLink="/projects"
        (click)="onselect('Projects')"
        class="item"
        routerLinkActive="active"
        >Projects</a
      >
      <a
        routerLink="/certificate"
        (click)="onselect('Certificates')"
        class="item"
        routerLinkActive="active"
        >Certifications</a
      >
      <a
        routerLink="/technews"
        (click)="onselect('TechNews')"
        class="item"
        routerLinkActive="active"
        >TechNews</a
      >

      <a
        routerLink="/blogs"
        (click)="onselect('Blogs')"
        class="item"
        routerLinkActive="active"
        >Blogs</a
      >
      <a
        routerLink="/feedback"
        (click)="onselect('Contact')"
        class="item"
        routerLinkActive="active"
        >Feedback</a
      >
      <a
        *ngIf="loggedin$ | async"
        class="item"
        routerLink="/admin"
        (click)="onselect('Admin')"
        routerLinkActive="active"
      >
        <div class="ui primary button">Admin Panel</div></a
      >
      <a
        *ngIf="loggedin$ | async"
        class="item"
        (click)="logout()"
        routerLink="/logout"
        routerLinkActive="active"
      >
        <div class="ui primary button">Log out</div></a
      >
      <a
        *ngIf="!(loggedin$ | async)"
        routerLink="/login"
        class="item"
        (click)="onAdmin()"
        routerLinkActive="active"
      >
        <div class="ui primary button">Admin Login</div></a
      >
    </div>
    <div
      class=" inverted item"
  
    >
      <!-- <img class="circular image" src="../assets/123.jpeg" /> -->
      <a
        href="https://www.linkedin.com/in/aayush-yadav-854082124/"
        target="_blank"
        ><img class="ui mini spaced image xx" src="../assets/linkdin.png"
      /></a>
      <a href="https://github.com/AayushYadavv" target="_blank">
        <img class="ui mini spaced image xx" src="../assets/git.png"
      /></a>
      <a href="https://www.instagram.com/yadavji_aayush/" target="_blank">
        <img class="ui mini spaced image xx " src="../assets/insta.png"
      /></a>
    </div>
  </div>

  <div  style="margin-top: 100px;">
    <div class="profile">
      <app-profile-card></app-profile-card>
    </div>
  </div>
  >
  <!-- <div class="ui text container">
        <h1 class="ui inverted header">
          Welcome !
        </h1>

        <h2>Quote Goes there</h2>
        
      </div> -->

  <div class="ui stackable fixed huge inverted menu" *ngIf="!mobileView">
    <div class="item">
      <img
        class="circular image"
        src="https://21sa.online/profilePic/profile.png"
      />
      <b style="padding: 10px;">Aayush Yadav</b>
    </div>

    <a
      routerLink="./"
      [routerLinkActiveOptions]="{ exact: true }"
      (click)="offAdmin()"
      class="item"
      routerLinkActive="active"
      >Home</a
    >
    <a
      routerLink="/projects"
      (click)="offAdmin()"
      class="item"
      routerLinkActive="active"
      >Projects</a
    >
    <a
      routerLink="/certificate"
      (click)="offAdmin()"
      class="item"
      routerLinkActive="active"
      >Certifications</a
    >
    <a
      routerLink="/technews"
      (click)="offAdmin()"
      class="item"
      routerLinkActive="active"
      >TechNews</a
    >

    <a
      routerLink="/blogs"
      (click)="offAdmin()"
      class="item"
      routerLinkActive="active"
      >Blogs</a
    >
    <a
      routerLink="/feedback"
      (click)="offAdmin()"
      class="item"
      routerLinkActive="active"
      >Feedback</a
    >
    <div class="right menu">
      <a
        class="item"
        href="https://www.linkedin.com/in/aayush-yadav-854082124/"
        target="_blank"
        ><img class="ui mini spaced image" src="../assets/linkdin.png"
      /></a>
      <a class="item" href="https://github.com/AayushYadavv" target="_blank">
        <img class="ui mini spaced image" src="../assets/git.png"
      /></a>
      <a
        class="item"
        href="https://www.instagram.com/yadavji_aayush/"
        target="_blank"
      >
        <img class="ui mini spaced image" src="../assets/insta.png"
      /></a>
      <a
        *ngIf="!(loggedin$ | async)"
        routerLink="/login"
        class="item"
        (click)="onAdmin()"
        routerLinkActive="active"
      >
        <div class="ui primary button">Admin Login</div></a
      >
      <a
        *ngIf="loggedin$ | async"
        routerLink="/admin"
        class="item"
        (click)="onAdmin()"
        routerLinkActive="active"
      >
        <div class="ui primary button">Admin Panel</div></a
      >

      <a
        *ngIf="loggedin$ | async"
        class="item"
        routerLink="/logout"
        (click)="logout()"
        routerLinkActive="active"
      >
        <div class="ui primary button">Logout</div></a
      >
    </div>
  </div>

  <div class="ui stackable grid">
    <div class="row">
      <div
        *ngIf="!adminPanelActive && !mobileView"
        [ngClass]="{
          three: !adminPanelActive,
          wide: !adminPanelActive,
          column: !adminPanelActive,
          hidden: adminPanelActive
        }"
      >
        <div
          @explainerAnim
          [ngClass]="{ hidden: adminPanelActive, ss: !adminPanelActive }"
        >
          <div class="box">
            <div class="ui inverted segment">
              <div class="ui inverted items">
                <div class="item">
                  <div class="middle aligned content">
                    <img
                      class="ui medium rounded image"
                      src="https://21sa.online/profilePic/profile.png"
                    />

                    <h1 style="color: red;">Aayush Yadav</h1>
                    <hr />
                    <div class="meta">
                      <span style="color: orange;">Computer Engineer</span>
                      <hr />
                      <p style="color: aliceblue;">
                        Interned at ISRO-RRSC,Nagpur
                      </p>
                      <p style="color: aliceblue;">Web Developer</p>
                      <p style="color: aliceblue;">Android Developer</p>
                      <p style="color: aliceblue;">
                        Upgrading Skills to be a Full-Stack Developer
                      </p>
                    </div>
                    <div class="description">
                      <p></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div @downexplainerAnim
        [ngClass]="{
          ten: !adminPanelActive,
          sixteen: adminPanelActive,
          wide: true,
          column: true
        }"
      >
      <div class="main">

        <div  class="ui container">
            <div class="ui inverted segment">
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>
      </div>
      <div
        *ngIf="!adminPanelActive"
        [ngClass]="{
          three: !adminPanelActive,
          wide: !adminPanelActive,
          column: !adminPanelActive,
          hidden: adminPanelActive
        }"

      >
       
        <div   @revexplainerAnim [ngClass]="{ hidden: adminPanelActive, ss: !adminPanelActive }">
          
            <div class="box" style="margin-left: 0;">
              <div class="ui inverted segment">
                <app-new-side-card></app-new-side-card>
              
            </div>
          </div>
        </div>
      </div>
      >
    </div>
  </div>
</ng-container>
